.etc-section {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
  180deg,
  #0b1206,
  #14210b
);

  color: #fff;
  text-align: center;
  padding: 4rem 2rem;

  .content-wrapper {
    max-width: 700px;

    h2 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.1rem;
      line-height: 1.7;
      opacity: 0.9;
    }
  }

  /* Tablet */
  @media (max-width: 768px) {
    .content-wrapper {
      h2 {
        font-size: 2.4rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  /* Mobile */
  @media (max-width: 480px) {
    .content-wrapper {
      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}
